{% extends 'base.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <br/>
    <div class="form m-auto align-content-center text-center">
        <h1 class="h2 text-white">Donnez votre Avis</h1>

        {{ include('achat/_form.html.twig') }}
        <br/>
        <a href="{{ path('app_avis_index') }}">
            <button class="submit">Retour aux avis</button>
        </a>
    </div>
{% endblock %}
