{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">La Poutinerie, Le FoodTruck</h1>
    <h2 class="text-center">Le Canada en Normandie</h2>
    <br/>
    <div id="carousel-index" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-index" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-index" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-index" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/poutine.jpg') }}" class="d-block rounded img-fluid w-100" alt="p1">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-black">La Poutine unique</h5>
                    <p class="text-black">A la Canadienne ou Française</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/frais.jpg') }}" class="d-block rounded img-fluid w-100" alt="p2">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-black">Produits Frais</h5>
                    <p class="text-black">Fait avec 100% de produits frais</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/viande-francaise.jpg') }}" class="d-block rounded img-fluid w-100" alt="p3">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-black">Viande Française</h5>
                    <p class="text-black">La viande est française et fraiche</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-index" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-index" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
