{% extends 'base.html.twig' %}

{% block body %}
    <div class="forms">
        <div class="form align-content-center text-center">
            <h1>Créer un nouveau Produit</h1>

            {{ include('produit/_form.html.twig') }}
            <br/>
            <a href="{{ path('app_produit_index') }}"><button class="button">Retour à la liste</button></a>
        </div>
    </div>
{% endblock %}
