{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <div class="form m-auto align-content-center text-center">
        <h1 class="h2 text-white">Modifier une Matière Première</h1>

        {{ include('matiere/_form.html.twig', {'button_label': 'Modifier'}) }}
        <br/>
        <a href="{{ path('app_matiere_index') }}">
            <button class="submit">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
