{% extends 'base.html.twig' %}

{% block body %}
    <div class="forms">
        <div class="form align-content-center text-center">
            <h1>Modifier une Matière Première</h1>

            {{ include('matiere/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a href="{{ path('app_matiere_index') }}">Retour à la liste</a>

            {{ include('matiere/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
