<form method="post" action="{{ path('app_detail_perte_delete', {'id': detail_perte.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce Produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail_perte.id) }}">
    <button class="button">Supprimer</button>
</form>
