@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    font-size: 12px;
}

body {
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
}

.body {
    margin-top: 10px;
}

/*-----------------*/
/*  Index          */
/*-----------------*/

.carousel {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}

/*-----------------*/
/*  Carte          */
/*-----------------*/

.carte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 15px;
}

.pied {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.imgfrite {
    margin: auto;
    text-align: center;
}

.logo {
    margin-left: 20em;
}

.titre {
    color: orchid;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.plats, .normands, .autres {
    color: orangered;
}

.desserts, .frites {
    color: maroon;
}

.boissons, .alcool {
    color: royalblue;
}

.description {
    color: orange;
    font-style: italic;
}

/*-----------------*/
/*  Navbar         */
/*-----------------*/

.nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    padding: 30px 0;
    background-color: deepskyblue;
}

.nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    padding: 18px;
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

/*-----------------*/
/*  Formulaire     */
/*-----------------*/

.forms {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.form {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.form h1 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

.form .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.form .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.form .inputbox:last-child {
    margin-bottom: 0;
}

.form .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.form .inputbox input:focus ~ span,
.form .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.form .inputbox [type="button"], .form .inputbox [type="submit"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}

.form .inputbox:hover [type="button"], .form .inputbox:hover [type="submit"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

/*-----------------*/
/*  Button         */
/*-----------------*/

.button {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.button:before,
.button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
            60deg,
            /*#f79533,
            #f37055,
            #ef4e7b,
            #a166ab,*/
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82
    );
}

.button:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
}

.button:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
}

.button:hover:before {
    width: 115%;
    height: 115%;
}