{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="text-decoration-underline text-center">Qui sommes nous</h1>
    <img class="float-sm-start" src="{{ asset('images/thierry.jpg') }}" alt="thierry" width="300">
    <p class="h4 text-nowrap text-center">
        <br/>
        <br/>
        Thierry André, née le 21 novembre 1970.
        <br/>
        Diplomé d'un CAP Cuisine et d'un CAP Salle.
        <br/>
        <br/>
        J'ai été Chef de Rang du Restaurant <cite>"LE PROCOPE"</cite> à Paris 6 (Le plus ancien Restaurant de Paris.)
        <br/>
        Suite de cela, j'ai intégré le Restaurant <cite>"LA BRASSERIE LES ARTISTES"</cite> à Paris La Défense en tant que Maitre d'Hotel,
        <br/>
        par la suite, j'ai ouvert en tant que Directeur Adjoint l'ancien Restaurant <cite>"HIPPOPOTAMUS"</cite> du CNIT à Paris La Défense,
        <br/>
        pour finir Directeur d'Exploitation des deux Restaurant <cite>"QUAI MARINE"</cite> et <cite>"WOK BY TIGER WOK"</cite> au CNIT à Paris La Défense.
        <br/>
        <br/>
        <br/>
        Avec les récents événements liés à la Covid-19 les restaurants ont été contrains de fermer, mais l'idée d'ouvrir mon FoodTruck m'a toujours passionné,
        <br/>
        c'est pourquoi je suis ici pour vous proposer mon experience dans la restauration en vous apportant une bonne cuisine près de chez vous.
    </p>
</div>
{% endblock %}
