<form method="post" action="{{ path('app_localisation_delete', {'id': localisation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette Localisation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ localisation.id) }}">
    <button class="button">Supprimer</button>
</form>
