{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="form m-auto align-content-center text-center">
        <h1 class="h2 text-white">Créer une nouvelle Localisation</h1>

        {{ include('localisation/_form.html.twig') }}
        <br/>
        <a href="{{ path('app_localisation_index') }}">
            <button class="submit">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
