{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <div class="form m-auto align-content-center text-center">
        <h1 class="h2 text-white">Créer un Produit de Vente</h1>

        {{ include('detail_vente/_form.html.twig') }}
        <br/>
        <a href="{{ path('app_vente_index') }}">
            <button class="submit">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
