{% extends 'base.html.twig' %}

{% block body %}
    <div class="container align-content-center text-center">
        <h1>Créer un nouveau Produit</h1>

        {{ include('menu/_form.html.twig') }}

        <a href="{{ path('app_menu_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
